<div
  class="container-fluid d-flex align-itens-center justify-content-center img-fundo"
>
  <div class="row d-flex justify-content-center align-self-center box">
    <div>
      <div class="imgcontainer justify-content-center">
        <img
          class="foto-login"
          src="https://i.imgur.com/Obni4Q4.png"
          alt="foto de fundo"
        />
      </div>

      <div class="container2">
        <div class="">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input class="form-control" type="text" name="nome" id="nome" placeholder="Anna Santos">
            </div>
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input class="form-control" type="text" name="usuario" id="usuario"
                    placeholder="usuario@email.com">
            </div>
            <div class="form-group">
                <label for="foto">Foto</label>
                <input class="form-control" type="text" name="foto" id="foto" placeholder="Link da foto">
            </div>

            <div class="form-group">
                <label for="senha">Senha</label>
                <input class="form-control" type="password" name="senha" id="senha"
                    placeholder="Digite sua senha">
            </div>
            <div class="form-group">
                <label for="confirmaSenha">Confirmar Senha</label>
                <input class="form-control" type="password" name="confirmaSenha" id="confirmaSenha"
                    placeholder="Digite novamente sua senha">
            </div>

            <div class="form-group">
                <label for="tipo">Tipo de Usuário</label>
                <select class="form-control" name="tipo" id="tipo" >
                    <option value="membro">Membro</option>
                    <option value="adm">Administrador</option>
                    <option value=""></option>
                </select>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-dark mr-4" >Cadastrar</button>
                <button routerLink="/entrar" type="submit" class="btn btn-danger">Cancelar</button>

            </div>


         

        </div>
      </div>
    </div>
  </div>
</div>

