
.fundo{
    background-image: url('https://imgur.com/f10GXsQ.jpg');
    background-color: rgb(68, 64, 64);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    min-height:70vh;
    margin-top: 4%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
input{
    opacity: 80%;
    width: 80%;

}
textarea{
    opacity: 80%;
    width: 80%;

}

.botao{
    background-color: #ff6543;
    color: white;
}
.ml-50 {
    margin-left: 650px;
  
}