.bg-cor{
    background-color: rgb(255, 68, 31);
    opacity: 1;
}

.logoCor{
    color: white;
}

.nav-fixo{
    position: fixed;
    width: 100%;
}

.ul li{
    color: white !important;
}

.fs-16{
    font-size: 16pt;
}

.fs-16:hover{
    font-size: 20pt;
    
}

.hoverCor:hover{
    color: #b5f4bc !important; 
}

a{
    cursor: pointer;
}

.deco-sair{
    text-decoration: none;
}

.sairHover:hover{
    color: red !important;
}

.fa-sign-out:hover{
    color: red;
}