<nav class="navbar navbar-expand-lg navbar-light bg-dark" id="bgcor">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <img src="https://i.imgur.com/Obni4Q4.png" alt="Logo" width="50px" height="50px" class="img-fluid">
      </li>
      <li class="nav-item">
        <a class="nav-link text-white fs-16" href="#">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white fs-16" href="#">Sobre</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white fs-16" href="#">Cardápio</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white fs-16" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-expanded="false">
          Categoria
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Doce</a>
          <a class="dropdown-item" href="#">Salgado</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Prato do dia</a>
        </div>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item pl-3">
        <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
      </li>
    </ul>

  </div>
</nav>