.preco{
    color: black !important;
    font-size: 2rem;
}
.bkg{
    background-blend-mode:darken ;
    background:rgba(255, 255, 255, 0.922);
   
    background-size: cover;
}

.bg-cor{
    background-color: rgb(255, 68, 31)!important;
    font-size: 1.5rem;
}

.bgtema{
    background-color: #e9ecef;
    font-weight: bold;
}

.fbold{
    font-weight: bold!important;
}

.bkgcard{
    color: rgb(0, 0, 0);

    background: rgb(255, 255, 255);
    

}