<div class="container-fluid img-fundo column">
  <!--first panel-->
  <div class="d-flex box">
    <div class="imgcontainer">
      <div class="col-md-5 p-5 text-center">
        <p class="text-align-center position">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
          laudantium sed inventore asperiores harum praesentium sit vel
          exercitationem, voluptatibus dolore quidem quia quisquam eum rem,
          temporibus aliquam cumque, cupiditate fugiat?
        </p>
        <button class="btn-info btn">contact us</button>
      </div>
    </div>
  </div>

  <br />

  <!--second panel-->
  <div class="container">
    <div class="d-flex box1 justify-content-center ">
      <div class="imgcontainer2 justify-content-center d-flex align-items-center">
        <h4 >Por que existimos?</h4>
      </div>

      <div class="container">
        <div class="col-md-12 p-0">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
            laudantium sed inventore asperiores harum praesentium sit vel
            exercitationem, voluptatibus dolore quidem quia quisquam eum rem,
            temporibus aliquam cumque, cupiditate fugiat?
          </p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
            laudantium sed inventore asperiores harum praesentium sit vel
            exercitationem, voluptatibus dolore quidem quia quisquam eum rem,
            temporibus aliquam cumque, cupiditate fugiat?
          </p>
        </div>
      </div>
    </div>
  </div>

  <br />

  <!--third panel-->
  <div class="container">
    <div class="d-flex box1 justify-content-center ">
      <div class="container">
        <div class="col-md-12 p-0">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
            laudantium sed inventore asperiores harum praesentium sit vel
            exercitationem, voluptatibus dolore quidem quia quisquam eum rem,
            temporibus aliquam cumque, cupiditate fugiat?
          </p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
            laudantium sed inventore asperiores harum praesentium sit vel
            exercitationem, voluptatibus dolore quidem quia quisquam eum rem,
            temporibus aliquam cumque, cupiditate fugiat?
          </p>
        </div>
      </div>
      <div class="imgcontainer3 justify-content-center d-flex align-items-center">
        <h4>EatIt</h4>
      </div>
    </div>
  </div>
</div>
