.fundo{
    background-color: #fafafa;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    margin-left: 0;
    margin-right: 0;
}
.jumb{
    background-image: url('https://imgur.com/hpk33p9.png');
    background-color: rgba(23, 20, 20, 0.744);
    background-blend-mode: multiply;
    background-size: cover;
    opacity: 0.9;
    
    
    
  }
  .titulo{
    color:#EAAB51;
    font-size: 50px;
    text-align-last: center !important;
  }
  .subtit{
    color: #EAAB51;
  }
  
  .colortext{
    color:#441910;
  }
input{
    opacity: 80%;
    width: 65%;

}
select{
    opacity: 80%;
    width: 65%;
}
textarea{
    opacity: 80%;
    width:65%;
}

.container {
   
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.botao{
    background-color: #ff6543;
}
.ml-50 {
    margin-left: 650px;
  
}
   
